/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/* Variables */
:root {
    --clr-black: #000;
    --clr-white: #fff;
    --clr-blue-dark: hsl(240, 38%, 20%);
    --clr-blue-grayish: hsl(240, 18%, 77%);
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 32px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/pattern-curve.svg'), url('../assets/img/pattern-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom left, 91% 49%;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

/* Utilities */