/* Slider section */
.slider__container {
    max-width: 1100px;
    margin: 0 40px;
}

.slider__wrapper {
    position: relative;
    display: flex;
}

.slider__reference {
    z-index: 1;
}

.slider__reference-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slider__reference-text {
    position: relative;
    color: var(--clr-blue-dark);
    font-weight: 300;
    width: 115%;
    line-height: 1.38rem;
}

.slider__reference-text::before {
    position: absolute;
    content: url('../assets/img/pattern-quotes.svg');
    top: -66px;
    left: 95px;
}

.slider__reference-author {
    display: flex;
    font-size: 0.625rem;
    margin-top: 40px;
}

.slider__reference-name {
    color: var(--clr-blue-dark);
    font-weight: 700;
    margin-right: 10px;
}

.slider__reference-title {
    color: var(--clr-blue-grayish);
    font-weight: 500;
}

.slider__image {
    position: relative;
}

.slider__image img {
    display: block;
}

.slider__controls {
    position: absolute;
    bottom: -30px;
    left: 63px;
    display: flex;
}

.slider__btn {
    background: var(--clr-white);
    border: none;
    cursor: pointer;
}

.slider__btn--left {
    padding: 18px 21.75px 18px 21.75px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.slider__btn--right {
    padding: 18px 21.75px 18px 21.75px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.slider__btn--left, 
.slider__btn--right {
    transition: background 250ms ease-in,
                opacity 250ms ease-in;
}

.slider__btn--left:hover, 
.slider__btn--right:hover {
    background: var(--clr-blue-grayish);
}

.slider__btn--left:hover path, 
.slider__btn--right:hover path{
    stroke: #fff;
    transition: stroke 250ms ease-in;
}

/* Slider media queries */
@media (max-width: 1200px) {
    .slider__image img {
        width: 45vw;
    }
}