/* Slider section */
.slider__container {
    max-width: 1100px;
    margin: 0 40px;
}

.slider__wrapper {
    position: relative;
    display: flex;
}

.slider__reference {
    z-index: 1;
}

.slider__reference-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slider__reference-text {
    position: relative;
    color: var(--clr-blue-dark);
    font-weight: 300;
    width: 115%;
    line-height: 1.38rem;
    transition: font-size 250ms ease-in;
    animation: refSlide 1000ms 1;
}

.slider__reference-text::before {
    position: absolute;
    content: url('../assets/img/pattern-quotes.svg');
    top: -66px;
    left: 95px;
}

.slider__reference-author {
    display: flex;
    font-size: 0.625rem;
    margin-top: 40px;
    animation: authorSlide 1000ms 1;
}

.slider__reference-name {
    color: var(--clr-blue-dark);
    font-weight: 700;
    margin-right: 10px;
}

.slider__reference-title {
    color: var(--clr-blue-grayish);
    font-weight: 500;
}

.slider__image {
    position: relative;
    animation: imgSlide 1000ms 1;
}

.slider__image img {
    display: block;
    border-radius: 5px;
    box-shadow: 0px 28px 41px 2px rgba(0,0,0,0.1);
}

.slider__controls {
    position: absolute;
    display: flex;
    bottom: -30px;
    left: 63px;
    box-shadow: 0px 13px 26px 2px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.slider__btn {
    background: var(--clr-white);
    border: none;
    cursor: pointer;
}

.slider__btn svg {
    pointer-events: none;
}

.slider__btn--left {
    padding: 18px 21.75px 18px 21.75px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.slider__btn--right {
    padding: 18px 21.75px 18px 21.75px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.slider__btn--left, 
.slider__btn--right {
    pointer-events: none;
    transition: background 250ms ease-in,
    opacity 250ms ease-in;
}

.slider__btn--left:active path, 
.slider__btn--right:active path {
    stroke-width: 4;
}

.slider__btn--left:hover, 
.slider__btn--right:hover {
    background: var(--clr-blue-grayish);
}

.slider__btn--left:hover path, 
.slider__btn--right:hover path{
    stroke: #fff;
    transition: stroke 250ms ease-in;
}

/* Slider media queries */
@media (max-width: 1200px) {
    .slider__image img {
        width: 45vw;
    }
    
    .slider__reference-text {
        font-size: 0.8125rem;
        line-height: 1rem;
    }

    .slider__reference-author {
        font-size: 0.5rem;
    }
}

@media (max-width: 850px) {
    .slider__container {
        margin: 0;
    }

    .slider__wrapper {
        flex-flow: column;
    }
    
    .slider__reference {
        order: 1;
    }

    .slider__reference-content {
        top: auto;
        transform: translate(0);
        margin-top: 150px;
    }

    .slider__reference-text {
        text-align: center;
        max-width: 550px;
        margin: 0 auto;
        font-size: 0.56rem;
        line-height: 0.75rem;
    }

    .slider__reference-text::before {
        top: -52px;
        left: 50%;
        transform: translateX(-50%) scale(0.5);
    }

    .slider__reference-author {
        flex-flow: column;
        text-align: center;
        margin-top: 20px;
        font-size: 0.46rem;
    }

    .slider__reference-name {
        margin: 0;
    }

    .slider__image {
        order: 0;
    }

    .slider__image img {
        width: 80%;
        min-width: 258px;
        margin: 0 auto;
    }

    .slider__controls {
        left: 50%;
        bottom: -22px;
        transform: translateX(-50%);
        z-index: 5;
    }

    .slider__btn--left {
        padding: 10px 14px 10px 14px;
    }

    .slider__btn--right {
        padding: 10px 14px 10px 14px;
    }

}

@media (max-width: 680px) {
    .slider__reference-content {
        margin-top: 88px;
    }

    .slider__reference-text {
        max-width: 305px;
    }

    .slider__reference-text::before {
        left: 94px;
        transform: translate(0) scale(0.5);
    }
}